@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  font-size: 1rem;
  margin: 0;
  font-family: 'Inconsolata', monospace;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
  margin-bottom: 0.35rem;
  line-height: 1.35rem;
  font-size: 0.875rem;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  font-weight: inherit;
}

a:hover {
  text-decoration: underline;
}
