@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Inter&display=swap');

body {
  font-size: 1rem;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
  line-height: 2rem;
  font-size: 1rem;
  color: white;
  opacity: .87;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  font-weight: inherit;
}

a:hover {
  text-decoration: underline;
}
